{{ $bc :=  .Breadcrumb}} {{ if $bc }}
<nav aria-label="breadcrumb" role="navigation">
    <div class="breadcrumb print--hide">
       <ol class="breadcrumb__list">
          {{ range $i, $b := $bc }}
              {{if last $i $bc}}
              <li class="breadcrumb__item line-height--12">
                 {{ $b.Title }}
              </li>
              {{else}}
              <li class="breadcrumb__item line-height--12">
                 <a class="breadcrumb__link" href="{{ $b.URI }}">
                  {{ $b.Title }}
                 </a>
              </li>
              {{end}}
          {{end}}
       </ol>
    </div>
</nav>
{{ end }}
