<form action="/submit" method="POST" id="global-cookie-message" class="cookies-banner clearfix"
        aria-label="cookie banner" style="display: block;">
    <div class="cookies-banner__wrapper wrapper">
        <div class="col col--md-two-thirds col--lg-two-thirds">
            <div class="cookies-banner__message">
                <h2 class="cookies-banner__heading">Tell us whether you accept cookies</h2>
                <p class="cookies-banner__body">We use <a href="/help/cookies">cookies to collect
                            information</a> about how you use <strong>ons.gov.uk</strong>. We use this information to make the website
                        work as well as possible and improve our services.</p>
            </div>
            <div class="cookies-banner__buttons">
                <div class="cookies-banner__button cookies-banner__button--accept">
                    <button class="btn btn--primary btn--full-width" type="submit">Accept all cookies</button>
                </div>
                <div class="cookies-banner__button">
                    <a role="button" class="btn btn--primary btn--full-width">Set Cookie Preferences</a>
                </div>
            </div>
        </div>
    </div>
</form>