<div class="filter-selection">
  <header>
    <div class="filter-selection__header">
      <h2>{{ .Data.FiltersAmount }} added</h2>
      {{ $val := .Data.FiltersAmount }}
      {{ if ne $val 0 }}
      <a href="{{ .Data.RemoveAll.URL }}">Remove all</a>
      {{ end }}
    </div>
  </header>
  <ul class="list list--neutral">
    {{ range .Data.FiltersAdded }}
    <li><span class="col col--md-6 col--lg-12">{{ .Label }}</span><span class="remove-link"><a href="{{ .RemoveURL }}">Remove</a></span></li>
    {{ end }}
  </ul>
</div>
