<div class="filter-selection">
  <header>
    <div class="filter-selection__header">
      <h2 class="font-weight-700" aria-live="assertive"><span class="font-size--21">{{$filterCount := len .Data.FiltersAdded}}{{ $filterCount }}</span> item{{if ne $filterCount 1 }}s{{end}} added</h2>
      {{ $val := len .Data.FiltersAdded }}
      {{ if gt $val 1 }}
      <a class="remove-all js-filter" href="{{ .Data.RemoveAll.URL }}">Remove all</a>
      {{ end }}
    </div>
  </header>
  <ul class="list list--neutral">
    {{ range .Data.FiltersAdded }}
    <li><span class="col col--md-36 col--lg-12">{{ .Label }}</span><span class="remove-link js-filter"><a id="{{.ID}}" href="{{ .RemoveURL }}">Remove</a></span></li>
    {{ end }}
  </ul>
</div>
