<section>
    <div class="col">
        <h2 class="margin-top--0 font-size--30">{{ localise "AroundTheONS" .Language 1 }}</h2>
    </div>
    <section class="col col--md-23 col--lg-14 background--white margin-left-md--1 margin-bottom--3">
        <article tabindex="0" class="tile tile__highlighted-content">
            <div class="tile__highlighted-content-image-container">
                <img class="tile__highlighted-content-image" src="https://cdn.ons.gov.uk/assets/images/around-the-ons/local-statistics.png">
            </div>
            <h2 class="margin-bottom--0 margin-top--0">
                <a class="margin-left--0 tile__link tile__link--highlighted-content-title font-size--24" href="https://www.ons.gov.uk/help/localstatistics">
                    {{ localise "LocalStatisticsTitle" .Language 4 }}
                </a>
            </h2>
            <p class="tile__highlighted-content-summary margin-top--0">{{ localise "LocalStatisticsSummary" .Language 4 }}</p>
        </article>
    </section>
    <section class="col col--md-23 col--lg-14 background--white margin-left-md--1 margin-bottom--3">
        <article tabindex="0" class="tile tile__highlighted-content">
            <div class="tile__highlighted-content-image-container">
                <img class="tile__highlighted-content-image" src="https://cdn.ons.gov.uk/assets/images/around-the-ons/data-strategy.png">
            </div>
            <h2 class="margin-bottom--0 margin-top--0">
                <a class="margin-left--0 tile__link tile__link--highlighted-content-title font-size--24" href="https://www.ons.gov.uk/aboutus/transparencyandgovernance/datastrategy">
                    {{ localise "OurDataStrategyTitle" .Language 4 }}
                </a>
            </h2>
            <p class="tile__highlighted-content-summary margin-top--0">{{ localise "OurDataStrategySummary" .Language 4 }}</p>
        </article>
    </section>
    <section class="col col--md-23 col--lg-14 background--white margin-left-md--1 margin-bottom--3">
        <article tabindex="0" class="tile tile__highlighted-content">
            <div class="tile__highlighted-content-image-container">
                <img class="tile__highlighted-content-image" src="https://cdn.ons.gov.uk/assets/images/around-the-ons/ons-centres.png">
            </div>
            <h2 class="margin-bottom--0 margin-top--0">
                <a class="margin-left--0 tile__link tile__link--highlighted-content-title font-size--24" href="https://www.ons.gov.uk/aboutus/whatwedo/programmesandprojects/onscentres">
                    {{ localise "ONSCentresTitle" .Language 4 }}
                </a>
            </h2>
            <p class="tile__highlighted-content-summary margin-top--0">{{ localise "ONSCentresSummary" .Language 4 }}</p>
        </article>
    </section>
    <section class="col col--md-23 col--lg-14 background--white margin-left-md--1 margin-bottom--3">
        <article tabindex="0" class="tile tile__highlighted-content">
            <div class="tile__highlighted-content-image-container">
                <img class="tile__highlighted-content-image" src="https://cdn.ons.gov.uk/assets/images/around-the-ons/other-govt-statistics.png">
            </div>
            <h2 class="margin-bottom--0 margin-top--0">
                <a class="margin-left--0 tile__link tile__link--highlighted-content-title font-size--24" href="https://www.gov.uk/government/statistics">
                    {{ localise "OtherGovtStatisticsTitle" .Language 4 }}
                </a>
            </h2>
            <p class="tile__highlighted-content-summary margin-top--0">{{ localise "OtherGovtStatisticsSummary" .Language 4 }}</p>
        </article>
    </section>
</section>