<article class="promo__background--plum-gradient tile tile__content col col--lg-29 margin-top-lg--2 margin-top-md--2 margin-left-lg--1 height-lg--31">
    <header class="margin-top--1">
        <h2 class="margin-top--0 margin-right--0 margin-bottom--0 margin-left--0">
            <span class="tile__title">{{ localise "LatestReleases" .Language 1 }}</span>
        </h2>
    </header>
    <div class="margin-top--1">
        <p>Taking part is vital to make sure you and your community get the services you need.</span><br>
        <a href="">Complete Census 2021.</a>
    </div>
    <div class="margin-top--1">
        <p class="promo__description margin-top--0 padding-top--0">Our preparation for Census 2021 and beyond
        <br>
        <a class="underline-link" href="">Census research and planning.</a>
        </p>
    </div>
</article>