<article class="tile tile__content promo__background--plum-gradient col col--lg-29 margin-top-lg--2 margin-top-md--2 margin-left-lg--1 height-lg--32 hide--sm">
    <header class="margin-top--1">
        <h2 class="margin-top--0 margin-right--0 margin-bottom--0 margin-left--0">
            <span class="tile__title">
                <img src="https://cdn.ons.gov.uk/assets/images/logo-census-2021-white-landscape.svg" alt="" class="header__svg-logo"
                xmlns="http://www.w3.org/2000/svg" focusable="false" width="209" height="40" viewBox="0 0 228 44" aria-labelledby="census-logo-en-alt">
                <title id="census-logo-en-alt">Census 2021</title>
            </span>
        </h2>
    </header>
    <div class="margin-top--1">
        {{ localise "Census2021TakingPart" .Language 1 }}<br>
        <a class="text--white font-weight-700 underline-link" href="">{{ localise "Census2021CompleteLink" .Language 1 }}</a>
    </div>
    <div class="margin-top--1">
        {{ localise "Census2021Preparation" .Language 1 }}<br>
        <a class="text--white font-weight-700 underline-link" href="">{{ localise "Census2021ResearchLink" .Language 1 }}</a>
    </div>
</article>