<section>
    <div class="col">
        <h2 class="font-size--30">{{ localise "InFocus" .Language 1 }}</h2>
    </div>
    <section class="col col--md-23 col--lg-14 height-sm--44 background--white margin-left-md--1 margin-bottom--3">
        <article tabindex="0" class="tile tile--highlighted-content">
            <div class="tile__highlighted-content-image-container">
                <img class="tile__highlighted-content-image" src="https://static.ons.gov.uk/visual/2020/in-focus/weekly-death-statistics@2x.png">
            </div>
            <a class="margin-left--0 tile__link tile__link--highlighted-content-title font-size--24" href="https://www.ons.gov.uk/peoplepopulationandcommunity/birthsdeathsandmarriages/deaths/datasets/weeklyprovisionalfiguresondeathsregisteredinenglandandwales">
                Weekly deaths
            </a>
            <p class="tile__highlighted-content-summary margin-top--0">The most up-to-date provisional figures for deaths involving coronavirus (COVID-19) in England and Wales.</p>
        </article>
    </section>
    <section class="col col--md-23 col--lg-14 height-sm--44 background--white margin-left-md--1 margin-bottom--3">
        <article tabindex="0" class="tile tile--highlighted-content">
            <div class="tile__highlighted-content-image-container">
                <img class="tile__highlighted-content-image" src="https://static.ons.gov.uk/visual/2020/in-focus/coronavirus-faster-indicators@2x.png">
            </div>
            <a class="margin-left--0 tile__link tile__link--highlighted-content-title font-size--24" href="https://www.ons.gov.uk/peoplepopulationandcommunity/birthsdeathsandmarriages/deaths/datasets/weeklyprovisionalfiguresondeathsregisteredinenglandandwales">
                Coronavirus - faster indicators
            </a>
            <p class="tile__highlighted-content-summary margin-top--0">The latest data and experimental indicators on the UK economy and society.</p>
        </article>
    </section>
    <section class="col col--md-23 col--lg-14 height-sm--44 background--white margin-left-md--1 margin-bottom--3">
        <article tabindex="0" class="tile tile--highlighted-content">
            <div class="tile__highlighted-content-image-container">
                <img class="tile__highlighted-content-image" src="https://static.ons.gov.uk/visual/2020/in-focus/coronavirus-roundup@2x.png">
            </div>
            <a class="margin-left--0 tile__link tile__link--highlighted-content-title font-size--24" href="https://www.ons.gov.uk/peoplepopulationandcommunity/healthandsocialcare/conditionsanddiseases/articles/coronaviruscovid19roundup/2020-03-26">
                Coronavirus roundup
            </a>
            <p class="tile__highlighted-content-summary margin-top--0">Our summary of the latest data and analysis related to the coronavirus pandemic.</p>
        </article>
    </section>
    <section class="col col--md-23 col--lg-14 height-sm--44 background--white margin-left-md--1 margin-bottom--3">
        <article tabindex="0" class="tile tile--highlighted-content">
            <div class="tile__highlighted-content-image-container">
                <img class="tile__highlighted-content-image" src="https://static.ons.gov.uk/visual/2020/in-focus/ons-blogs@2x.png">
            </div>
            <a class="margin-left--0 tile__link tile__link--highlighted-content-title font-size--24" href="https://blog.ons.gov.uk/category/coronavirus/">
                ONS blogs
            </a>
            <p class="tile__highlighted-content-summary margin-top--0">Find out more about the work ONS is doing to respond to the challenge of the pandemic.</p>
        </article>
    </section>
</section>