<section>
    <div class="col">
        <h2 class="font-size--30 margin-top--1">{{ localise "InFocus" .Language 1 }}</h2>
    </div>
    {{ range .Data.Featured }}
        <section class="col col--md-23 col--lg-14 background--white margin-left-md--1 margin-bottom--3">
            <article tabindex="0" class="tile tile__highlighted-content">
                <div class="tile__highlighted-content-image-container">
                    <img class="tile__highlighted-content-image" src="{{if .ImageURL }}{{.ImageURL}}{{else}}https://cdn.ons.gov.uk/assets/images/featured-content-default.svg{{end}}">
                </div>
                <h2 class="margin-top--0 margin-bottom--0">
                    <a class="margin-left--0 tile__link tile__link--highlighted-content-title font-size--24" href="{{ .URI }}">
                        {{ .Title }}
                    </a>
                </h2>
                <p class="tile__text-description margin-top--0">{{ .Description }}</p>
            </article>
        </section>
    {{ end }}
</section>