{{ $releases := .Data.ReleaseCalendar.Releases }}
{{ $releasesLen := len .Data.ReleaseCalendar.Releases }}

<article class="tile tile__content col col--lg-29 margin-top-lg--2 margin-top-md--2 margin-left-lg--1 height-lg--31">
    <header class="margin-top--1">
        <h2 class="margin-top--0 margin-right--0 margin-bottom--0 margin-left--0">
            <span class="tile__title">{{ localise "LatestReleases" .Language 1 }}</span>
        </h2>
    </header>
    <div class="tile__content-container--space-between">
        <p class="tile__content tile__text-description margin-top--0 margin-bottom--0 font-size--18">
        {{ localise "ReleaseCalendarTileInfo" .Language 1 }} {{ if gt $releasesLen 0 }}{{ localise "ReleaseCalendarTilePublicationCount" .Language 1 }} 
         {{ .Data.ReleaseCalendar.NumberOfReleases }} {{ localise "ReleaseCalendarTilePublicationPeriod" .Language 1 }} {{ end }}
        </p>
        <p class="margin-top--0 margin-bottom--0 padding-bottom--0">
            <a class="tile__link" href="/releasecalendar">{{ localise "AllReleases" .Language 1 }}</a>
        </p>
    </div>
</article>