<div class="col col--lg-29 col--md-29">
    <article class="tile tile__content margin-top-lg--2 margin-top-md--2 margin-left-md--1 margin-left-lg--0 height-lg--31">
        <div class="tile__text-description font-weight-700 margin-top--2 margin-bottom--2"> {{ localise "ExperiencingIssues" .Language 1}} </div>
        <div class="tile__text-description"> {{ localise "RefreshOrVisitTimeseriesTool" .Language 1 | safeHTML }} </div>
    </article>
</div>