<div>
    <div class="font-weight-700 margin-top--2 margin-bottom--2"> {{ localise "ExperiencingIssues" .Language 1}} </div>
    <div> {{ localise "RefreshOrVisitTimeseriesTool" .Language 1 | safeHTML }} </div>
</div>