<div class="wrapper padding-left--0 padding-right--0 background-gallery">
    <div class="tiles col-wrap">
        <div class="col col--md-16 col--lg-29 background--white margin-left-md--2 margin-left-lg--1 margin-bottom--0 margin-top--2">
            {{ template "partials/banners/survey" . }}
            {{ template "partials/banners/census" . }}
        </div>
    </div>
</div>