<div class="adjust-font-size--16">
	<div class="page-intro">
		<div class="wrapper">
			<div class="col-wrap">
				<div class="col">
					<div class="col col--md-47 col--lg-39">
						<h1 class="page-intro__title font-weight-700">Search geographic areas</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
  <div class="page-content underline-all-links">
      <div class="wrapper">
          <div class="col-wrap">
              <div class="col col--md-20 col--lg-29 margin-left-md--1">
                  <p>This dataset includes countries, regions, local authority districts in England and Wales. <a href="#">Learn more</a>.</p>
                	<div class="wrapper">
                		<form class="col-wrap search__form margin-bottom--5" action="/search">
                			<input type="search" autocomplete="off" class="search__input search__input--results-page search__input--body col col--md-29 col--lg-29" id="nav-search" name="q" value="">
                			<button type="submit" class="search__button search__button--body col--md-3 col--lg-3" id="nav-search-submit">
                				<span class="visuallyhidden">Search</span>
                				<span class="icon icon-search--light"></span>
                			</button>
                		</form>
                	</div>
                  <a href="#">Add all</a>
                  <ul class="list--neutral">
                      <li class="hide--sm margin-left--0 border-bottom--gallery-sm border-bottom--gallery-md col-wrap width-lg--39"></li>
                      <li class="hide--sm margin-left--0 border-bottom--gallery-sm border-bottom--gallery-md col-wrap width-lg--39">
                          <div class="checkbox">
                              <input class="checkbox__input">
                              <label class="checkbox__label">England</label>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>

          <p>Or <a>browse a list of locations</a></p>
      </div>
  </div>
</div>
