<div class="promo__background--plum-gradient">
    <div class="wrapper">
        <div class="banner--half-padding">
            <p class="margin-top--0 margin-bottom--0 padding-bottom--0 padding-top--0 flex flex-wrap-wrap banner--vertical-center">
            {{if eq .Language "en" }}
            <a class="flex" href="https://census.gov.uk">
                <img src="https://cdn.ons.gov.uk/assets/images/census-logo/logo-census-2021-white-landscape.svg" alt="" class="header__svg-logo margin-right--1"
                xmlns="http://www.w3.org/2000/svg" focusable="false" width="167" height="32" viewBox="0 0 242 44" aria-labelledby="census-logo-banner">
                {{ else }}
            <a class="flex" href="https://www.cyfrifiad.gov.uk">
                    <img src="https://cdn.ons.gov.uk/assets/images/census-logo/logo-census-2021-white-landscape-cy.svg" alt="" class="header__svg-logo margin-right--1"
                    xmlns="http://www.w3.org/2000/svg" focusable="false" width="167" height="32" viewBox="0 0 242 44" aria-labelledby="census-logo-banner">
                {{ end }}
                <title id="census-logo-banner">{{ localise "Census2021" .Language 1 }}</title></img></a>
                <a class="margin-top--0 text--white font-size--18 underline-link" {{if eq .Language "en" }}href="https://www.census.gov.uk"
                    {{ else }}href="https://www.cyfrifiad.gov.uk"{{end}}>{{ localise "Census2021CompleteLinkBanner" .Language 1 }}</a>
            </p>
        </div>
    </div>
</div>


