<a class="promo__container" href="/census">
    <section class="promo__background--plum-gradient box__content box__content--homepage height-sm--16 height-md--16 padding-top-sm--2 padding-top-md--2 padding-top-lg--1 height-lg--14 margin-bottom--2">
        <div class="promo__copy promo__body--column padding-left--1">
            <img class="padding-top--1" alt="Census 2021" src="https://cdn.ons.gov.uk/assets/images/census-logo/logo-census-2021-white-landscape.svg">
            <p class="padding-top--1 promo__description margin-top--0 margin-bottom--0 padding-right--1 padding-top--0 underline-link">
                Discover how our census statistics help paint a picture of the nation and how we live
            </p>
        </div>
    </section>
</a>