<a class="promo__container" href="/census">
    <section class="promo__background--plum-gradient box__content box__content--homepage height-sm--12 height-md--18 height-lg--14 margin-bottom--2">
        <div class="promo__body promo__body--column padding-left--1">
            <img alt="Census 2021" src="https://cdn.ons.gov.uk/sdc/design-system/13.6.11/img/census-logo-en.svg">
            <p class="promo__description margin-top--0 margin-bottom--0 padding-right--1 padding-top--0 underline-link">
                Discover how our census statistics help paint a picture of the nation and how we live
            </p>
        </div>
    </section>
</a>