<div class="promo__background--plum-gradient">
    <div class="wrapper">
        <div class="">
            <p class="my-2 text-base mt-0 mb-0">
              <a href="https://census.gov.uk">
              <img class="header__svg-logo" xmlns="http://www.w3.org/2000/svg" focusable="false" width="167" height="32"
              viewBox="0 0 228 44" role="img" aria-labelledby="census-logo-en-alt">
              <title id="census-logo-en-alt">Census 2021</title>
               </img>
               </a>
                  <a href="https://census.gov.uk" >
                  <span>Complete Census 2021</span></a>
            </p>
        </div>
    </div>
</div>