<div class="emergency-banner emergency-banner--notable-death" role="banner" data-nosnippet="">
    <div class="wrapper">
        <div class="col-wrap">
            <div class="col col--md-two-thirds col--lg-two-thirds">
                <h2 class="emergency-banner__heading">Firstname Surname</h2>
                <p class="emergency-banner__description">Date from to Date to</p>
                <a href="https://www.gov.uk/government/topical-events/" class="emergency-banner__link">More information</a>
            </div>
        </div>
    </div>
</div>
