<article class="promo-container">
    <div class="tile tile__content margin--0 padding-left--1 padding-right--1 padding-top--2 padding-bottom--2">
	    <header class="margin-top--1">
	        <h2 class="margin-top--0 padding-top--0 padding-bottom-sm--0 padding-bottom-md--4
	        {{if eq .Language "en" }} padding-bottom-lg--1 {{ else }} padding-bottom-lg--4 {{end}}">
	            <span class="tile__title">{{ localise "LatestReleases" .Language 1 }}</span>
	         </h2>
	    </header>
	    <div class="padding-bottom--1">
	        <a class="underline-link" href="/releasecalendar">{{ localise "AllReleases" .Language 1 }}</a>
	    </div>
    </div>
</article>

