<div class="col--md-23 col--lg-29 flex-basis-sm--full">
    <article class="tile tile__content margin--0">
	    <header class="margin-top--1">
	        <h2 class="margin-top--0 margin-right--0 margin-bottom--0 margin-left--0">
	            <span class="tile__title">{{ localise "LatestReleases" .Language 1 }}</span>
	         </h2>
	    </header>
	    <div class="padding-bottom--1">
	        <a href="/releasecalendar">{{ localise "AllReleases" .Language 1 }}</a>
	    </div>
	</article>
</div>