<article class="promo-container">
    <div class="tile tile__content margin--0">
	    <header class="margin-top--1">
	        <h2 class="margin-top--0 padding-top--0 padding-bottom-sm--0 padding-bottom-md--0 padding-bottom-lg--1">
	            <span class="tile__title">{{ localise "LatestReleases" .Language 1 }}</span>
	         </h2>
	    </header>
	    <div class="padding-bottom--1">
	        <a href="/releasecalendar">{{ localise "AllReleases" .Language 1 }}</a>
	    </div>
    </div>
</article>

