<div class="banner">
    <div class="wrapper banner--half-padding banner--bottom-border">
        <div class="col-wrap">
            <div class="col">
                <span class="banner__icon icon icon-info"></span>
                <div class="banner__body">
                    {{.ServiceMessage}}
                </div>
            </div>
        </div>
    </div>
</div>
