<a class="promo__container" href="/surveys">
    <section class="tile promo__background--blue-gradient box__content box__content--homepage">
        <div class="promo__body padding-left--1 padding-right--1 padding-top--2 padding-bottom--2">
            <img class="hide--md-only" src="https://cdn.ons.gov.uk/assets/images/icon-checkbox.svg" alt="">
            <div class="promo__copy">
                <h2 class="promo__heading margin-top--0 padding-top--0 padding-bottom-sm--0 padding-bottom-md--0 padding-bottom-lg--1">{{ localise "SurveyTakingPart" .Language 1 }}</h2>
                <p class="promo__description margin-top--0 margin-bottom--0 padding-bottom--0 underline-link">{{ localise "SurveyFindOut" .Language 1 }}</p>
            </div>
        </div>
    </section>
</a>