<a class="promo__container" href="/surveys">
    <section class="promo__background--blue-gradient box__content box__content--homepage height-sm--11 height-md--16 height-lg--12 margin-bottom--2">
        <div class="promo__body padding-right--1">
            <img src="https://cdn.ons.gov.uk/assets/images/icon-checkbox.svg">
            <div class="promo__copy">
                <h2 class="promo__heading margin-top--0 padding-top--0 padding-bottom--0">Taking part in a survey?</h2>
                <p class="promo__description margin-top--0 margin-bottom--0">Find out what you need to do</p>
            </div>
        </div>
    </section>
</a>