<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "name": {{ template "partials/json-ld/name" . -}}
        {{ if hasField . "DatasetLandingPage" -}}
            {{ template "partials/json-ld/dataset/common" . -}}
        {{- end }}
    }
</script>