<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": {{ .Type }},
    "name": {{ template "partials/json-ld/name" . }}
    {{ if hasField . "DatasetLandingPage" -}}
        {{ template "partials/json-ld/dataset" .DatasetLandingPage }}
    {{- end }}
}
</script>