<div class="background--gallery">
    <div class="wrapper">
<h1>Welcome to Data Discovery!</h1>

<h2>Available datasets:</h2>

<p>Total: {{ .Datasets.Total }}</p>

<ul id="featured-list" class="list--neutral col-wrap margin-left--0">
{{ range .Datasets.Items }}
    <li><a href="{{ .URL }}" title="{{ .Metadata.Description }}">{{ .Title }}</a></li>
{{ end }}
</ul>

</div>
</div>