<div class="page-header slate">
<div class="wrapper">
<h1 class="page-header__title flush--half--bottom">Splashy McSplashFace</h1>
</div>

</div>
<div class="wrapper panel--mar">
<div class="grid-wrap">
<div class="grid-col desktop-grid-full-width">
<article>
<div class="box box--padded box--red-dark box--red-dark--separated-left sectioned">

<div class="grid-wrap">
<div class="grid-col desktop-grid-two-thirds">
<form action="" method="POST"><input type="submit" value="Unsplash me" /></form>
</div>
</div>
</div>
</article>
</div>

</div>

</div>
