<div class="page-intro background--gallery">
      <div class="wrapper">
          <div class="col-wrap">
              <div class="col">
                  <div class="col col--md-47 col--lg-48">
                      <h1 class="page-intro__title margin-top--3">
                          Data Discovery: Experimental Prototype
                      </h1>
                      <p class="page-intro__content">
                          Welcome to an experimental prototype (alpha) for updates to the Office for National Statistics website.
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="wrapper">
      <div class="col-wrap">
          <div class="col margin-bottom--4">
              <p class="margin-bottom--0"><strong>PLEASE BE AWARE</strong> – this is a test website. It may contain inaccuracies or be misleading.</p>
              <p class="flush"><a href="https://ons.gov.uk">www.ons.gov.uk</a> remains the official website for ONS information.</p>
              <p class="flush">Your suggestions will help us make this site better, so if you have any comments please send us feedback.</p>
              <form class="margin-top--2" method="post">
                  <button type="submit" name="confirm" value="y" class="btn btn--primary">Continue</button>
              </form>
              <a href="https://ons.gov.uk" class="inline-block baseline margin-top--1">Cancel</a>
          </div>
      </div>
  </div>
