<div class="slate background--gallery">
    <div class="wrapper">
        <h1 class="font-weight-700">{{len .Data.Items}} {{.Metadata.Title}}</h1>
    </div>
</div>
<div class="wrapper area-type-list">
    <div class="margin-bottom--2"></div>
    {{range $i, $v := .Data.Items}}
        {{if $v.Label}}
            <div class="background--gallery padding-top--2 padding-bottom--2 padding-right--1 padding-left--1 margin-bottom--2">
                <h2 class="margin-top--0 font-size--h3"><a class="area-type" id="area-type-{{$i}}" href="{{$v.URI}}">{{$v.Label}}</a></h2>{{$v.ID}}
            </div>
        {{end}}
    {{end}}
</div>
