<div class="page-intro background--gallery">
    <div class="wrapper">
        <div class="col-wrap">
            <div class="col margin-top--1">
                {{ template "partials/breadcrumb" . }}
                <h1 class="page-intro__title margin-bottom--4">
                    Feedback
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="col-wrap margin-bottom--4">
        <div class="col col--lg-two-thirds col--md-two-thirds">
            <div>
                <p class="font-size--16">You can use the form below to ask a question, report a problem or suggest an improvement we can make to ONS.GOV.UK</p>
            </div>
            <div class="margin--top-4">
                <form>
                    <div>
                        <strong><span class="font-size--16">What's it to do with?</span></strong>
                    </div>
                    <div class="checkbox-group margin-top--2">
                        <div class="checkbox">
                            <input type="checkbox" class="checkbox__input" id="whole-site" name="whole-site" value="The whole site">
                            <label class="checkbox__label font-size--16" for="whole-site">
                                The whole site
                            </label>
                        </div>
                        <div class="checkbox margin-top--1">
                            <input type="checkbox" class="checkbox__input" id="specific-page" name="specific-page" value="A specific page">
                            <label class="checkbox__label font-size--16" for="specific-page">
                                A specific page
                            </label>
                            <input placeholder="Enter URL or name of page" id="url-field" class="form-control form-control__inline" type="text" name="url">
                        </div> 
                    </div>
                    <div>
                        <strong><span class="font-size--16">Can you provide me with more detail?</span></strong>
                        <span class="form-hint">For example if you were searching for something, what did you type in the search box?</span>
                        <textarea id="description-field" class="form-control" name="description" rows="5"></textarea>
                    </div>
                    <div>
                        <label class="form-label-bold" for="name-field">
                            Name (optional)
                            <span class="form-hint">Include your name and email address if you'd like us to get back to you.</span>
                        </label>
                        <input id="name-field" class="form-control" type="text" name="name">
                    </div>
                    <div>
                        <label class="form-label-bold" for="email-field">Email (optional)</label>
                        <input id="email-field" class="form-control" type="text" name="email">
                    </div>
                    <div>
                        <input id="feedback-form-submit" class="btn btn--primary" type="submit" value="Send message">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>