<div class=wrapper>
    <div>
        <div>
            <h1>Main figures</h1><span>- from our time series explorer</span>
        </div>
        <div class="tile margin-right--1">
            <div class="margin-top--1"><h2><span class="tile__title">Employment rate</span></h2></div>
            <div class="margin-top--2">Aged 16 to 64 seasonally adjusted (Oct - Dev 2019)</div>
            <div class=tile__content>
                <div class="margin-top--1">Employed</div>
                <div class="tile__figure">76.5%</div>
                <div class="tile__trend">
                    <span class="tile__trend__icon">&uarr;</span>
                    <span class="tile__trend__text">0.01% on previous quarter</span>
                </div>
                <div class="margin-top--2">
                    <span class="tile__link">Analysis</span>
                    <span class="tile__link">Data</span>
                </div>
            </div>
            <div class="tile__content padding-left--2">
                <div class="margin-top--1">Unemployed</div>
                <div class="tile__figure">3.8%</div>
                <div class="tile__trend">
                    <span class="tile__trend__icon">&uarr;</span>
                    <span class="tile__trend__text">0.2% on previous quarter</span>
                </div>
                <div class="margin-top--2">
                    <span class="tile__link">Analysis</span>
                    <span class="tile__link">Data</span>
                </div>
            </div>
        </div>
        <div class="tile margin-right--1">
            <div class=tile__content>
                <div class="margin-top--1"><h2><span class="tile__title">Inflation</span></h2></div>
                <div class="margin-top--2">CPIH 12-month rate</div>
                <div class="margin-top--1">Feb 2020</div>
                <div class="tile__figure">1.7%</div>
                <div class="tile__trend"><span class="tile__trend__icon">&uarr;</span><span class="tile__trend__text">0.1 on previous month</span>
                </div>
                <div class="margin-top--2"><span class="tile__link">Analysis</span> <span class="tile__link">Data</span>
                </div>
            </div>
        </div>
        <div class="tile">
            <div class=tile__content>
                <div class="margin-top--1"><h2><span class="tile__title">GDP</span></h2></div>
                <div class="margin-top--2">Quarter on Quarter</div>
                <div class="margin-top--1">Apr - Jun 2019</div>
                <div class="tile__figure">-0.7%</div>
                <div class="tile__trend"><span class="tile__trend__icon">&uarr;</span><span class="tile__trend__text">0.01% on previous quarter</span>
                </div>
                <div class="margin-top--2"><span class="tile__link">Data</span></div>
            </div>
        </div>
    </div>
</div>
