<div class="page-content">
    {{ template "partials/banners/covid" . }}
    <div class="wrapper background-gallery">
        <div class="tiles col-wrap">
            <div class="tiles__block tiles__block-no-mar-bottom">
                {{ template "homepage/in-focus" . }}
            </div>
        </div>
    </div>
</div>