<div class="page-intro background--astral">
    <div class="wrapper">
        <div class="col-wrap">
            <div class="col">
                <h1 class="page-intro__title">Welcome to the Office for National Statistics</h1>
                <p class="page-intro__content">The UK's largest independent producer of official statistics and the
                    recognised national statistical institute of the UK.</p>
            </div>
        </div>
    </div>
</div>

<div class="background--gallery">
    <div class="wrapper">

        <h2>Latest published releases</h2>
        <a href="/releasecalendar" class="heading-link">View latest releases</a>

        <ul id="releases-list" class="list--neutral col-wrap margin-left--0 margin-bottom--0">
            {{range .Data.Releases}}
            <li class="col col--lg-29 release margin-bottom--2 margin-right--1 margin-left--0 background--white padding-top--1 padding-right--1 padding-bottom--1 padding-left--1 js-hover-click">
                <h3 class="release__title"><a href="{{ .URI}}">{{ .Title}}</a></h3>
                <p class="release__content">{{ .ReleaseDate}}</p>
            </li>
            {{end}}
        </ul>

        <h2>Headline figures</h2>
        <ul id="headline-figures" class="list--neutral col-wrap margin-left--0">
            {{range .Data.HeadlineFigures}}
            <li class="col col--lg-14 headline-data margin-right--1 margin-left--0 background--white padding-top--1 padding-right--1 padding-bottom--1 padding-left--1 js-hover-click">

                {{if .SparklineData}}
                    <div class="headline-data__sparkline" aria-labelledby="headline-data__figure">
                        <div class="sparkline" style="height:100%;"
                             data-sparkline="{{range .SparklineData}} {{- .Y }} {{end}}" >

                            {{/* NO JS */}}
                            <noscript>
                                <img class="sparkline-image js--hide" style="height:108%;" src="{{ .URI}}/sparklineimage">
                                <!-- Sparkline image is set to 108% to cut off date labels that
                                     Babbage adds. We add the dates into the template now -->
                            </noscript>
                        </div>

                    </div>
                    <div class="headline-data__dates">
                        <span class="">{{ .StartDate}}</span>
                        <span class="float-right">{{ .EndDate}}</span>
                    </div>
                {{end}}

                <h3 class="headline-data__title"><a href="{{ .URI}}">{{ .Title}}</a></h3>
                <p id="headline-data__figure" class="headline-data__figure">
                    {{if .LatestFigure.PreUnit}}{{ .LatestFigure.PreUnit}}{{end}}
                    {{ .LatestFigure.Figure}}
                    {{if .LatestFigure.Unit}}{{ .LatestFigure.Unit}}{{end}}
                </p>
                <p class="flush">{{ .ReleaseDate}}</p>
            </li>
            {{end}}
            <li class="col col--lg-14 headline-data margin-top-lg--2 margin-right--1 margin-left--0 background--white padding-top--1 padding-right--1 padding-bottom--1 padding-left--1 height-lg--21 js-hover-click">
                <h3 class="headline-data__title"><a href="/timeseriestool">Looking to download time series?</a></h3>
                <p class="margin-bottom--0 margin-top--3">Try our time series explorer</p>
            </li>
        </ul>

        <h2>Other ONS and official statistics</h2>
        <ul id="other-list" class="list--neutral col-wrap margin-left--0 margin-bottom--6">
            <li class="col height-sm--23 col--lg-14 height-md--23 height-lg--48 background--white margin-top--0 margin-left--0 margin-right--1 margin-bottom--2 js-hover-click">
                <div class="padding-left--1 padding-right--1 padding-top--2 padding-bottom--2">
                    <div class="box__content box__content--homepage padding-top-lg--17 padding-left-sm--10 padding-left-md--15 height-md--19 height-lg--44 padding-left-lg--0">
                        <h3 class="other__title padding-top-lg--2"><a href="/help/localstatistics">Looking for local
                            statistics?<span class="image-holder width-sm--9 width-md--11 width-lg--12"><img
                                    src="../../img/t1-local.png" alt="" class="no-border"></span><span
                                    class="box__clickable"></span></a></h3>
                        <p class="margin-top-lg--1">A handy guide to let you know where to find local statistics.</p>
                    </div>
                </div>
            </li>
            <li class="col height-sm--23 col--lg-44 height-md--23 background--white margin-left--0 white margin-top--0 margin-right--1 margin-bottom--2 js-hover-click">
                <div class="padding-left--1 padding-right--1 padding-top--2 padding-bottom--2">
                    <div class="box__content box__content--homepage padding-left-sm--10 padding-left-md--15 height-md--19">
                        <h3 class="other__title"><a href="/census">Census<span class="box__clickable"></span></a></h3>
                        <span class="image-holder width-sm--9 width-md--13"><img src="../../img/t1-census-logo.png"
                                                                                 alt="Census logo"
                                                                                 class="no-border"></span>
                        <p class="tiles__content">Discover how our census statistics help paint a picture of the nation
                            and how we live.</p>
                    </div>
                </div>
            </li>
            <li class="col height-sm--23 col--lg-44 height-md--23 background--white margin-left--0 white margin-top--0 margin-right--1 margin-bottom--2 js-hover-click">
                <div class="padding-left--1 padding-right--1 padding-top--2 padding-bottom--2">
                    <div class="box__content box__content--homepage padding-left-sm--10 padding-left-md--15 height-md--19">
                        <h3 class="other__title"><a href="http://visual.ons.gov.uk" target="_blank">Visual.ONS<span
                                class="box__clickable"></span></a></h3>
                        <span class="image-holder width-sm--9 width-md--13"><img src="../../img/t1-visual-ons.png"
                                                                                 alt="Example of interactive data visualisation"
                                                                                 class="no-border width-auto height--26"></span>
                        <p class="tiles__content">Visual.ONS is a website exploring new approaches to making ONS
                            statistics accessible and relevant to a wide public audience.</p>
                    </div>
                </div>
            </li>
            <li class="col col--md-47 col--lg-29 height-sm--48 height-md--23 background--white margin-right--1 margin-bottom--2 js-hover-click">
                <div class="padding-left--1 padding-right--1 padding-top--2 padding-bottom--1">
                    <div class="box__content box__content--homepage">
                        <h3 class="other__title"><a
                                href="/economy/inflationandpriceindices/bulletins/consumerpriceinflation/latest">Data
                            Science Campus<span class="box__clickable"></span></a></h3>
                        <p class="margin-top-md--1">
                            Building world-leading expertise in the innovative application of data science.</p>
                    </div>
                </div>
            </li>
            <li class="col col--md-23 col--lg-14 height-sm--23  height--23 background--white margin-right--1 margin-bottom--2 js-hover-click">
                <div class="padding-left--1 padding-right--1 padding-top--2 padding-bottom--1">
                    <div class="box__content box__content--homepage">
                        <h3 class="other__title"><a
                                href="/peoplepopulationandcommunity/populationandmigration/populationestimates/bulletins/annualmidyearpopulationestimates/latest">Geography
                            products<span class="box__clickable"></span></a></h3>
                        <p class="margin-top-md--1 margin-top-lg--0">Visit our open geography portal or linked data
                            sites.</p>
                    </div>
                </div>
            </li>
            <li class="col col--md-23 col--lg-14 height-sm--23  height--23 background--white margin-right--1 margin-bottom--2 js-hover-click">
                <div class="padding-left--1 padding-right--1 padding-top--2 padding-bottom--1">
                    <div class="box__content box__content--homepage">
                        <h3 class="other__title"><a
                                href="/peoplepopulationandcommunity/populationandmigration/populationestimates/bulletins/annualmidyearpopulationestimates/latest">GOV.UK<span
                                class="box__clickable"></span></a></h3>
                        <p class="margin-top-md--1 margin-top-lg--0">Other official statistics produced impartially and
                            free from political influence.</p>
                    </div>
                </div>
            </li>
        </ul>

        {{/*

        <h2>Featured content</h2>
        <ul id="featured-list" class="list--neutral col-wrap margin-left--0">
            <li class="col col--lg-29 margin-bottom--2 margin-right--1 margin-left--0 background--white padding-top--1 padding-right--1 padding-bottom--1 padding-left--1 height--24 js-hover-click">
                <h3><a href="{{ .URI}}">UK Perspectives 2016</a></h3>
            </li>
            <li class="col col--lg-14 margin-bottom--2 margin-right--1 margin-left--0 background--white padding-top--1 padding-right--1 padding-bottom--1 padding-left--1 height--24 js-hover-click">
                <h3><a href="{{ .URI}}">Data science campus</a></h3>
            </li>
            <li class="col col--lg-14 margin-bottom--2 margin-right--1 margin-left--0 background--white padding-top--1 padding-right--1 padding-bottom--1 padding-left--1 height--24 js-hover-click">
                <h3><a href="{{ .URI}}">Independent review of UK economic statistics</a></h3>
            </li>
        </ul>

        <h2>Other official statistics</h2>
        <ul id="other-stats-list" class="list--neutral col-wrap margin-left--0">
            {{range .Data.Other}}
            <li class="col col--lg-14 margin-bottom--2 margin-right--1 margin-left--0 background--white padding-top--1 padding-right--1 padding-bottom--1 padding-left--1 height--24 js-hover-click">
                <h3><a href="{{ .URI}}">{{ .Title}}</a></h3>
            </li>
            {{end}}
        </ul>
        */}}
    </div>
</div>
<div class="background--astral">
    <div class="wrapper">
        <h2>A to Z of statistical bulletins</h2>
        <ul class="a-z-list margin-bottom--4">
            <li class="a-z-list-item"><a href="/atoz?az=a">A</a></li>
            <li class="a-z-list-item"><a href="/atoz?az=b">B</a></li>
            <li class="a-z-list-item"><a href="/atoz?az=c">C</a></li>
            <li class="a-z-list-item"><a href="/atoz?az=d">D</a></li>
            <li class="a-z-list-item"><a href="/atoz?az=e">E</a></li>
            <li class="a-z-list-item"><a href="/atoz?az=f">F</a></li>
            <li class="a-z-list-item"><a href="/atoz?az=g">G</a></li>
            <li class="a-z-list-item"><a href="/atoz?az=h">H</a></li>
            <li class="a-z-list-item"><a href="/atoz?az=i">I</a></li>
            <li class="a-z-list-item"><a href="/atoz?az=j">J</a></li>
            <li class="a-z-list-item"><a href="/atoz?az=k">K</a></li>
            <li class="a-z-list-item"><a href="/atoz?az=l">L</a></li>
            <li class="a-z-list-item"><a href="/atoz?az=m">M</a></li>
            <li class="a-z-list-item"><a href="/atoz?az=n">N</a></li>
            <li class="a-z-list-item"><a href="/atoz?az=o">O</a></li>
            <li class="a-z-list-item"><a href="/atoz?az=p">P</a></li>
            <li class="a-z-list-item"><a href="/atoz?az=q">Q</a></li>
            <li class="a-z-list-item"><a href="/atoz?az=r">R</a></li>
            <li class="a-z-list-item"><a href="/atoz?az=s">S</a></li>
            <li class="a-z-list-item"><a href="/atoz?az=t">T</a></li>
            <li class="a-z-list-item"><a href="/atoz?az=u">U</a></li>
            <li class="a-z-list-item"><a href="/atoz?az=v">V</a></li>
            <li class="a-z-list-item"><a href="/atoz?az=w">W</a></li>
            <li class="a-z-list-item"><a href="/atoz?az=x">X</a></li>
            <li class="a-z-list-item"><a href="/atoz?az=y">Y</a></li>
            <li class="a-z-list-item"><a href="/atoz?az=z">Z</a></li>
        </ul>
    </div>
</div>
