<!DOCTYPE html>
<html>
<head>
    <title>{{ .Metadata.Title }} - Office for National Statistics</title>
    <meta name="description" content="{{ .Metadata.Description}}">
    <meta name="keywords" content="{{range .Metadata.Keywords}} {{- .}}, {{end}}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8"/>
    <meta content="width=device-width,initial-scale=1.0,user-scalable=1" name="viewport">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#58595B">
    <meta name="apple-mobile-web-app-status-bar-style" content="#58595B">

		{{`<!--[if lte IE 8]>` | safeHTML}}
      <link rel="stylesheet" href="{{.PatternLibraryAssetsPath}}/css/old-ie.css">
		{{`<![endif]-->` | safeHTML}}
    {{`<!--[if IE 9]>` | safeHTML}}
      <link rel="stylesheet" href="{{.PatternLibraryAssetsPath}}/css/ie-9.css">
    {{`<![endif]-->` | safeHTML}}
		{{`<!--[if gt IE 9]><!-->` | safeHTML}}
      <link rel="stylesheet" href="{{.PatternLibraryAssetsPath}}/css/main.css">
    {{`<!--<![endif]-->` | safeHTML}}

    <script type='text/javascript'>
        var BugHerdConfig = {"feedback":{"hide":true}};
        (function(d, t) {
            var bh = d.createElement(t),
                s = d.getElementsByTagName(t)[0];
            bh.type = 'text/javascript';
            bh.src = '//www.bugherd.com/sidebarv2.js?apikey=gz3vgtdl3pkh9xuruo9tra';
            s.parentNode.insertBefore(bh, s);
        })(document, 'script');
    </script>

</head>
<body class="{{ .Type }}">

    {{ template "partials/header" . }}

    <main id="main" role="main" tabindex="-1">
        {{yield}}
    </main>

    {{if not .HideHeaderAndFooter}}
        {{ template "partials/footer" }}
    {{end}}

    {{`<!--[if gt IE 8]><!-->` | safeHTML}}
      {{/* TODO - update on live build to use two JS files, not a single one */}}
      <script type="text/javascript" src="{{.PatternLibraryAssetsPath}}/js/main.js"></script>
      <script type="text/javascript" src="/js/app.js"></script>
    {{`<!--<![endif]-->` | safeHTML}}

    <script type="text/javascript">
        var loop11_key = "0104054b3b56d396b42e668dfe096cee161454a8";
        document.write(unescape("%3cscript src='//cdn.loop11.com/my/loop11.js' type='text/javascript'%3e%3c/script%3e"));
    </script>
</body>
</html>
