<div class="search search--results-page print--hide" id="searchBar">
    {{ template "search/bar" . }}
</div>
<main id="main" tabindex="-1">
    <div class="page-content border">
        <div class="wrapper">
            {{ template "search/sort" . }}
            {{ template "search/results" . }}
        </div>
    </div>
</main>