<div class="page-intro background--gallery">
    <div class="wrapper">
        <div class="col-wrap">
            <div class="col">
                <div class="wrapper">
                    <nav aria-label="breadcrumb" role="navigation">
                        <div class="breadcrumb print--hide">
                           <ol class="breadcrumb__list">
                                <li class="breadcrumb__item">
                                  <a class="breadcrumb__link" href="#">
                                   Home
                                  </a>
                                </li>
                                <li class="breadcrumb__item">
                                  <a class="breadcrumb__link" href="#">
                                   People, population and community
                                  </a>
                                </li>
                                <li class="breadcrumb__item">
                                  <a class="breadcrumb__link" href="#">
                                   Population and migration
                                  </a>
                                </li>
                                <li class="breadcrumb__item">
                                  <a class="breadcrumb__link" href="#">
                                   Population estimates
                                  </a>
                                </li>
                                <li class="breadcrumb__item">
                                   Small Area Population Estimates
                                </li>
                           </ol>
                        </div>
                    </nav>
                </div>
                <h1 class="page-intro__title margin-bottom--4">
                    <span class="page-intro__type">Dataset:</span>
                    Small Area Population Estimates
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="meta-wrap">
    <div class="wrapper">
        <dl class="col-wrap">
            <div class="col col--md-12 col--lg-15 meta__item">
                <a href="https://www.statisticsauthority.gov.uk/national-statistician/types-of-official-statistics/">
                    <img class="meta__image" src="/img/national-statistics.png" alt="National Statistics logo">
                </a>
                <dt class="meta__term">Contact:</dt>
                <dd>
                    <a>Matt Rout</a>
                </dd>
            </div>
            <div class="col col--md-12 col--lg-15 meta__item">
                <dt class="meta__term">Release date</dt>
                <dd>17 July 2017</dd>
            </div>
            <div class="col col--md-12 col--lg-15 meta__item">
                <dt class="meta__term">Next release</dt>
                <dd>July 2018</dd>
            </div>
        </dl>
    </div>
</div>

<div class="wrapper">
        <div class="col-wrap margin-bottom--4">
            <div class="col col--lg-two-thirds col--md-two-thirds">
                    <section>
                        <h2>About this dataset</h2>
                        Aut tam ignis qui omnia autho patet. Vim veluti cur agi florum augeri. Synopsis du adverten re assidere de occurrat. Im immortalem denegassem operatione credidisse si. Fal cui consortio requirunt attingere approbent mox obstinate similibus. Ad foco rari nudi fert mihi quas si. Parvus sed usu rea manebo quavis. Quidem urgeat juncta dum oculos moveri jam putare nul. Illae vi ipsam pedem docti entis de se fingo.
                    </section>
                <section>
                    <div class="border-bottom--abbey-sm border-bottom--abbey-md border-bottom--abbey-lg">
                    <h2 class="margin-bottom--2">Your download options</h2>
                    </div>
                            <div class="inline-block--md margin-bottom-sm--1">
                                <h3 class="margin-bottom--2"> 2014 (current edition) </h2>
                                <form action="/datasets/12345/editions/12345/versions/12345/filter" method="post">
                                    <input type="submit" value="Filter and Download" class="btn btn--primary btn--thick margin-bottom--4">
                                </form>
                                <h3>Download complete dataset</h3>
                                <details role="group" class="margin-bottom--4">
                								  <summary><span class="summary">Help with filetypes</span></summary>
                								  <div class="panel">
                								  	<h3 class="margin-bottom--0 w-700">Some title</h3>
                								    <p class="margin-top--0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae rhoncus diam. Vivamus non massa libero. Nulla non maximus sem. Fusce id vestibulum libero.</p>
                								  </div>
                								</details>
                                <div class="margin-bottom-10">
                                    <a class="btn btn--primary">csv {{humanSize 10494}}</a>
                                    <a class="btn btn--primary">xml {{humanSize 8372}}</a>
                                    <a class="btn btn--primary">json {{humanSize 12938}}</a>
                                </div><br>

                                <div>
                                Release date: 22 June 2014<br>
                                Last Updated: 22 June 2017<br>
                                Update frequency: Yearly<br>
                                </div>
                                <details role="group" class="margin-bottom--4">
                								  <summary><span class="summary">What has changed in this edition?</span></summary>
                								  <div class="panel">
                								  	<h3 class="margin-bottom--0 w-700">Some title</h3>
                								    <p class="margin-top--0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae rhoncus diam. Vivamus non massa libero. Nulla non maximus sem. Fusce id vestibulum libero.</p>
                								  </div>
                								</details>
                            </div>
                </section>

                    <section>

                        <h2>In this dataset</h2>
                      <div class="margin-bottom--3">
                        <h3>England and Wales by:</h3>
                        <ul>
                            <li>Country</li>
                            <li>Region</li>
                            <li>London Borough</li>
                        </ul>
                        <details role="group" class="margin-bottom--4">
                          <summary><span class="summary">Learn more about geography in this dataset</span></summary>
                          <div class="panel">
                            <h3 class="margin-bottom--0 w-700">Some title</h3>
                            <p class="margin-top--0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae rhoncus diam. Vivamus non massa libero. Nulla non maximus sem. Fusce id vestibulum libero.</p>
                          </div>
                        </details>
                      </div>
                      <div class="margin-bottom--3">
                        <h3>Sex:</h3>
                        <ul>
                            <li>All Persons</li>
                            <li>Male</li>
                            <li>Female</li>
                        </ul>
                        <details role="group" class="margin-bottom--4">
                          <summary><span class="summary">Learn more about sex in this dataset</span></summary>
                          <div class="panel">
                            <h3 class="margin-bottom--0 w-700">Some title</h3>
                            <p class="margin-top--0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae rhoncus diam. Vivamus non massa libero. Nulla non maximus sem. Fusce id vestibulum libero.</p>
                          </div>
                        </details>
                      </div>
                      <div class="margin-bottom--3">
                        <h3>Age:</h3>
                        <ul>
                            <li>All ages</li>
                            <li>0 to 92</li>
                        </ul>
                        <details role="group" class="margin-bottom--4">
                          <summary><span class="summary">Learn more about the age in this dataset</span></summary>
                          <div class="panel">
                            <h3 class="margin-bottom--0 w-700">Some title</h3>
                            <p class="margin-top--0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae rhoncus diam. Vivamus non massa libero. Nulla non maximus sem. Fusce id vestibulum libero.</p>
                          </div>
                        </details>
                      </div>

                      <h2>Usage Information</h2>
                      <p>Free for public use.</p>
                      Citation: www.ons.gov.uk 2017, Source 2011

                      <h2>Release notes</h2>
                      To protext the confedentiality of individuals personal information, this datase provides data only for districts that have a minimum of 150 people.
                    </section>

            </div>
            <div class="col col--lg-one-third col--md-one-third margin-top margin-bottom">

                <div class="tiles__item tiles__item--nav-type margin-left--0 margin-right--0">
                    <h3 class="tiles__title-h3 tiles__title-h3--nav">Contact details for this dataset</h3>
                    <div class="tiles__content tiles__content--nav">
                        <address>
                                Neil Park
                                <br>
                                <a href="mailto:popinfo@ons.gsi.gov.uk">popinfo@ons.gsi.gov.uk</a>
                                <br> Telephone: +44 (0)1329 444661

                        </address>
                    </div>
                </div>

                    <div class="tiles__item tiles__item--nav-type margin-left--0 margin-right--0">
                        <h3 class="tiles__title-h3 tiles__title-h3--nav">Publications that use this data</h3>
                        <div class="tiles__content tiles__content--nav">
                            <ul class="list--neutral">
                                    <li><a href="">Population Estimates for UK, England and Wales, Scotland and Northern Ireland: mid-2016</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="tiles__item tiles__item--nav-type margin-left--0 margin-right--0">
                        <h3 class="tiles__title-h3 tiles__title-h3--nav">Methodology</h3>
                        <div class="tiles__content tiles__content--nav">
                            <ul class="list--neutral">
                                    <li><a href="">Annual Mid-Year Population Estimates QMI</a></li>
                            </ul>
                        </div>
                    </div>

            </div>
        </div>
    </div>
