<div class="page-intro background--gallery">
   <div class="wrapper">
      <div class="col-wrap">
         <div class="col">
            {{ template "partials/breadcrumb" . }}
            <h1 class="page-intro__title margin-bottom--4">
               <span class="page-intro__type">Dataset:</span>
               {{ .Metadata.Title }}
            </h1>
         </div>
      </div>
   </div>
</div>
<div class="meta-wrap">
   <div class="wrapper">
      <dl class="col-wrap">
         <div class="col col--md-12 col--lg-15 meta__item">
            <a href="https://www.statisticsauthority.gov.uk/national-statistician/types-of-official-statistics/">
            <img class="meta__image" src="/img/national-statistics.png" alt="National Statistics logo">
            </a>
            <dt class="meta__term">Contact:</dt>
            <dd>
               <a>{{.ContactDetails.Name}}</a>
            </dd>
         </div>
         <div class="col col--md-12 col--lg-15 meta__item">
            <dt class="meta__term">Release date</dt>
            <dd>{{ .DatasetLandingPage.ReleaseDate }}</dd>
         </div>
         <div class="col col--md-12 col--lg-15 meta__item">
            <dt class="meta__term">Next release</dt>
            <dd>{{ .DatasetLandingPage.NextRelease }}</dd>
         </div>
      </dl>
   </div>
</div>
<div class="wrapper">
   <div class="col-wrap margin-bottom--4">
      <div class="col col--lg-two-thirds col--md-two-thirds">
         <section>
            <h2>About this dataset</h2>
            {{ .Metadata.Description }}
         </section>
         <section>
            <div class="border-bottom--abbey-sm border-bottom--abbey-md border-bottom--abbey-lg">
               <h2 class="margin-bottom--2">Your download options</h2>
            </div>
            {{$datasetID := .DatasetLandingPage.DatasetID}}{{$versions := .DatasetLandingPage.Versions}}{{range $i, $v := $versions}}
            <div class="show-hide show-hide--light border-bottom--abbey-sm border-bottom--abbey-md border-bottom--abbey-lg margin-top--negative-two-fix margin-bottom--1">
               <h3 class="margin-bottom--2">
               {{$v.Edition}} </h2>
               <form action="/datasets/{{$datasetID}}/editions/{{$v.Edition}}/versions/{{$v.Version}}/filter" method="post">
                  <input type="submit" value="Filter and Download" class="btn btn--primary btn--thick margin-bottom--4">
               </form>
               <h3>Download complete dataset</h3>
               <div class="margin-bottom-10">
                  {{range $i, $download := $v.Downloads}}
                  <a class="btn btn--primary" href="{{$download.URI}}">{{$download.Extension}} {{humanSize $download.Size}}</a>
                  {{end}}
               </div>
               <br>
               <div>
                  Release date: {{$v.ReleaseDate}}<br>
               </div>
               <details role="group" class="margin-bottom--4">
                  <summary><span class="summary">What has changed in this edition?</span></summary>
                  <div class="panel">
                     <h3 class="margin-bottom--0 w-700">{{ $v.Title }}</h3>
                     <p class="margin-top--0">{{ $v.Description }}</p>
                  </div>
               </details>
            </div>
            {{ end }}
         </section>
         <section>
            <h2>In this dataset</h2>
            {{range .DatasetLandingPage.Dimensions}}
            <div class="margin-bottom--3">
               <h3>{{.Title}}:</h3>
               <ul>
                  {{range .Values}}
                  <li>{{.}}</li>
                  {{end}}
               </ul>
               <details role="group" class="margin-bottom--4">
                  <summary><span class="summary">Learn more about {{.Title}} in this dataset</span></summary>
                  <div class="panel">
                     <h3 class="margin-bottom--0 w-700">{{.Title}}</h3>
                     <p class="margin-top--0">{{.Description}}</p>
                  </div>
               </details>
            </div>
            {{ end }}
            <h2>Usage Information</h2>
            <p>Free for public use.</p>
            Citation: www.ons.gov.uk 2017, Source 2011
         </section>
      </div>
      <div class="col col--lg-one-third col--md-one-third margin-top margin-bottom">
         <div class="tiles__item tiles__item--nav-type margin-left--0 margin-right--0">
            <h3 class="tiles__title-h3 tiles__title-h3--nav">Contact details for this dataset</h3>
            <div class="tiles__content tiles__content--nav">
               <address>
                  {{ if .ContactDetails.Name}}
                  {{ .ContactDetails.Name }}
                  {{ end }}
                  {{ if .ContactDetails.Email}}
                  <br>
                  <a href="mailto:{{ .ContactDetails.Email}}">{{ .ContactDetails.Email }}</a>
                  {{ end }}
                  {{ if .ContactDetails.Telephone }}
                  <br>
                  {{ .ContactDetails.Telephone }}
                  {{ end }}
               </address>
            </div>
         </div>
         {{ if .DatasetLandingPage.Related.Publications }}
         <div class="tiles__item tiles__item--nav-type margin-left--0 margin-right--0">
            <h3 class="tiles__title-h3 tiles__title-h3--nav">Publications that use this data</h3>
            <div class="tiles__content tiles__content--nav">
               <ul class="list--neutral">
                  {{ range .DatasetLandingPage.Related.Publications }}
                  <li><a href="{{ .URI }}">{{ .Title }}</a></li>
                  {{ end }}
               </ul>
            </div>
         </div>
         {{ end }}
         {{ if .DatasetLandingPage.Related.Methodology }}
         <div class="tiles__item tiles__item--nav-type margin-left--0 margin-right--0">
            <h3 class="tiles__title-h3 tiles__title-h3--nav">Methodology</h3>
            <div class="tiles__content tiles__content--nav">
               <ul class="list--neutral">
                  {{ range .DatasetLandingPage.Related.Methodology }}
                  <li><a href="{{ .URI }}">{{ .Title }}</a></li>
                  {{ end }}
               </ul>
            </div>
         </div>
         {{ end }}
         {{ if .DatasetLandingPage.Related.Links }}
         <div class="tiles__item tiles__item--nav-type margin-left--0 margin-right--0">
            <h3 class="tiles__title-h3 tiles__title-h3--nav">Related links</h3>
            <div class="tiles__content tiles__content--nav">
               <ul class="list--neutral">
                  {{ range .DatasetLandingPage.Related.Links }}
                  <li><a href="{{ .URI }}">{{ .Title }}</a></li>
                  {{ end }}
               </ul>
            </div>
         </div>
         {{ end }}
      </div>
   </div>
</div>
