{{ template "partials/loop11" . }}
<div class="page-intro background--gallery">
   <div class="wrapper">
      <div class="col-wrap">
         <div class="col">
            {{ template "partials/breadcrumb" . }}
            <h1 class="page-intro__title margin-bottom--4">
               <strong>{{ .Metadata.Title }}</strong>
            </h1>
         </div>
      </div>
   </div>
</div>
<div class="wrapper adjust-font-size--16 link-adjust">
    <div class="col-wrap padding-top--2 margin-bottom--4">
        <div class="col">
            <p>This data has been revised and is no longer in use. Return to <a href="{{.Data.LatestVersionURL}}">latest version</a> of this dataset.</p>
            <details role="group" class="margin-bottom--4">
                <summary><span class="summary">Learn more about why statistics are revised</span></summary>
                <div class="panel">
                    <p class="margin-top--0">Statistics are most often revised for 1 of 2 reasons:</p>
                    <ol>
                        <li>For certain statistics initial estimates are released with expectation that these may be revised and updated as further data becomes available.</li>
                        <li> Revisions may also be made when methods or systems are changed. </li>
                    </ol>
                    <p>
                        These types of planned revisions should not be confused with errors in released statistics, which are genuine mistakes. Such mistakes occur rarely and, when they do happen, corrections are made in a timely manner, announced and clearly explained to users in line with the Code of Practice for Official Statistics (Principle 2, Pratice 7).
                    </p>
                    <p>
                        Return to the <a href="{{.Data.LatestVersionURL}}">latest version</a>
                    </p>
                </div>
            </details>
            <div class="table-preview">
                <table>
                    <thead>
                        <tr>
                            <th scope="col"><strong>Date of revision</strong></th>
                            <th scope="col"><strong>Reason for revision</strong></th>
                            <th scope="col"><strong>Previous version files</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .Data.Versions}}
                            <tr>
                                <td>{{.Date}}</td>
                                <td>{{.Reason}}</td>
                                <td> 
                                    {{range .Downloads}}<a class="btn btn--primary uppercase" href="{{.URI}}">{{.Extension}} {{humanSize .Size}}</a>{{end}}
                                    <form action="{{.FilterURL}}" method="post">
                                        <input class="btn btn--primary" type="submit" name="filter-and-download" value="Filter and download" />
                                    </form>
                                </td>
                            </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>