{{ template "partials/loop11" . }}
<div class="page-intro background--gallery">
   <div class="wrapper">
      <div class="col-wrap">
         <div class="col">
            {{ template "partials/breadcrumb" . }}
            <h1 class="page-intro__title margin-bottom--4">
               <strong>{{ .Metadata.Title }}</strong>
                <strong>{{ .Metadata }}</strong>

               <strong>{{ .Metadata.Title }}</strong>

               <strong>{{ .Metadata.Title }}</strong>

            </h1>
         </div>
      </div>
   </div>
</div>
<div class="wrapper adjust-font-size--16 link-adjust">
    <div class="col-wrap padding-top--2 margin-bottom--4">
        <div class="col">
            
            
        </div>
    </div>
</div>
